<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>
<body>
    <h1>Todos</h1>
    <ul>
        {{#each todos}}
        <li>
            <h3> {{this.nombre}} </h3>
            <p>{{this.descripcion}} </p>
            <a href="/todos/edit/{{this.id}}">Editar</a> <!-- cuando editarmos y borramos necesitamos recuperar el ID-->
            <a href="/todos/delete{{this.id}}">Eliminar</a>
        </li>
        {{/each}}
    </ul>
        <a href="/todos/create">Crear nuevo</a>   

</body>
</html>